apache-airflow==2.10.5
psycopg2==2.9.10
sqlfluff-templater-dbt==2.3.5
shandy-sqlfmt[jinjafmt]
black==24.2.0
yamlfix==1.16.0
sqlfluff==0.7.1
dbt-core
dbt-postgres
pandas==2.3.5
boto3==1.36.23
sqlalchemy==1.4.54
python-dotenv==1.0.1